.App {
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.App .sider {
  width: 150px;
  height: 100%;
  border-right: 1px solid gray;
  padding: 10px;
}
.App .component {
  flex: 2 2 auto;
  height: 100%;
  padding: 10px;
}

